*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    
}
h1{
    font-family: 'Neucha', cursive;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    
}
img{
    display: block;
}
p{
    color: white;
}

:root{
    --poppins:'Poppins',sans-serif;
    --neucha:"Neucha", cursive;
    --bleu-clair: #c7e3cb ;
    --bleu : #56B462 ;
    --bleu-fonce :#3A8043;

}
//top du site avec une div pour le logo 
//une div pour la nav
//une div pour le compte
//barre de navigation*

//------------------------------------ scroll nav
.scrollDown{
    z-index: 99;
    position: fixed;
}
// .scrollAnimation{
//     transform: translateY(-200px);
//     transition: all 0.5s;
// }
// .scrollAppear{
//     transform: translateY(200px);
//     transition: all 0.5s;
// }
// .scrollDesappear{
//     transform: translateY(200px);
//     transition: all 0.5s;
// }
//------------------------------------------
header div#navigation{
    display: none;
}
.navBar{
    width: 100%;
    height: 100px;
    background-color: var(--bleu);
    display:flex;
    justify-content: space-around;
    align-items: center;
    //transition: all 0.5s;
    .logo{
        width: 8%;
        padding : 0.5% 0;
        img{
            width: 100%;
        }
    }
    nav{
        width: 50%;
        ul{
            // font-size: 0;
            display: flex;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    font-family: var(--neucha);
                    font-size: 1.7em;
                    text-decoration: none;
                    transition: 0.5s all;
                    // &:hover{
                    //     transform: scale(1.1);
                    // }
                }&:hover{
                    transform: scale(1.1);
                }
                .sous{
                    display: none;
                    position: absolute;
                    transition: 1 all;
                }
                &:hover{
                    .sous{
                        display: block;
                        li{
                            background-color: var(--bleu);
                            opacity: 0.8;
                            border-bottom: solid var(--bleu-clair)1px;
                            padding: 2%;
                            background-color: var(--bleu-fonce);
                            a{
                                font-size:25px;
                                padding: 2%;
                                transition:0.5s all;
                                &:hover{
                                    color: #56B462;
                                    transform: scale(1);
                                }
                            }
                        }
                
                    }
                }
            }
            .deroulant{
                    &:after{
                    content: "⏷";
                    font-size: 0.7em;
                    }
                
            }
        }
    }

    .monCompte{
        width: 15%;
        background-color: var(--bleu-fonce);
        font-family: var(--neucha);
        display: flex;
        justify-content: center;
        padding: 1% 0.5%;
        border-radius: 3vh;
        a{
        text-decoration: none;
        font-size: 1.5em;
        transition: 0.5s all;
        font-family: "Neucha", cursive;
        &:hover{
            transform: scale(1.1);
        }
        }
    }
}

// header
.headerP{
    background-image: url(../image/banner-attraction2.jpeg);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    h1{
        color: white;
        padding-top: 10%;
        padding-bottom: 12%;
        padding-left: 15%;
        font-size: 4em;
    }
}

//les différentes types d'attraction
// .reveal{
//     opacity: 0;
//     transform: translate(-20em);
// }
// .reaveal-visible{
//     opacity: 1;
//     transform: translate(0);
//     transition: .3s;
// }
section.typeAttraction{
    background-color: #8AE395;
    padding-bottom: 5%;
    padding-top: 5%;
    .petiteA{
        width: 70%;
        display: flex;
        padding-left: 15%;
        padding-top: 2%;
        .imgA{
        
            img{
                width: 100%;
                
            }
        }
        .txtA{
            background-color: #3A8043;
            padding: 5%;
            width: 80%;
            display: block;
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            p{
                color: white;
                text-align: center;
                padding-top: 10%;
                font-size: 1.6vw;
            }
        }
    }
    .moyenneA{
        width: 70%;
        display: flex;
        padding-left: 15%;
        .txtA{
            background-color: #3A8043;
            padding: 5%;
            width: 63.6%;
            p{
                color: white;
                text-align: center;
                padding-top: 10%;
                font-size: 1.6vw;
            }
        }
        .imgA{
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            img{
                width: 100%;
                
            }
        }
    }
    .grandeA{
        width: 70%;
        display: flex;
        padding-left: 15%;
        .imgA{
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            img{
                width: 100%;
            }
        }
        .txtA{
            background-color: #3A8043;
            padding: 5%;
            margin-bottom: 0.8%;
            width: 70.5%;
            margin: 0 auto;
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            p{
                color: white;
                text-align: center;
                padding-top: 5%;
                font-size: 1.6vw;
            }
        }
}
}

//partie restaurant

//banner
.bannerResto{
    background-image: url(../image/banner-restaurant2.jpeg);
    background-size: cover;
    display: block;
    background-position: center;
    h1{
        padding-top: 7%;
        padding-bottom: 7%;
        padding-left: 15%;
        font-size: 5vw;
    }
}

//section resto
.resto{
    background-color: #8AE395;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    position: relative;
    padding-bottom: 5%;
    .resto1{
        margin-left: 20%;
        .imgResto{
            width: 100%;
            img{
                width: 60vh;
                box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            }
        }
        .vegan-locaux{
            position: absolute;
            top: 8%;
            left: 42%;
            text-align: center;
            background-color: #3A8043;
            border-radius: 10em;
            width: 3%;
            padding: 1%;
            p{
                font-size: 80%;
            }
        }
        .txtResto{
            width: 90%;
            background-color: #3A8043;
            padding: 10% 5% 14% 5%;
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            p{
                text-align: center;
            }
        }
    }
    .resto2{
        margin-right: 20%;
        padding-left: 10%;
        .imgResto{
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            width: 100%;
            img{
                width: 60vh;
            }
        }
        .vegan-locaux{
            position: absolute;
            top: 8%;
            left: 80%;
            background-color: #3A8043;
            border-radius: 10em;
            width: 3%;
            padding: 1%;
            p{
                font-size: 75%;
                text-align: center;
            }
        }
        .txtResto{
            width: 90%;
            background-color: #3A8043;
            padding: 10% 5% 28% 5%;
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            p{
                text-align: center;
            }
        }
    }
}

//espace détente
///banner détente
.bannerDetente{
    background-image: url(../image/banner-detente7.jpeg);
    background-size: cover;
    background-position: center;
    h1{
        padding: 5% 0% 7% 10%;
        font-size: 5em;
    }
}

///section détente
.detente{
    background-color: #8AE395;
    padding-bottom: 5%;
    padding-top: 5%;
    .detente1{
        display: flex;
        width: 60%;
        margin-left: 20%;
        .imgD{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .txtDetente{
            background-color: #3A8043;
            width: 50%;
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            p{
                text-align: center;
                padding: 25% 5% 0% 5%;
                font-size: 2ex;
            }
        }
    }
    .detente2{
        display: flex;
        width: 60%;
        margin-left: 20%;
        .imgD{
            width: 100%;
            img{
                width: 100%;
                box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            }
        }
        .txtDetente{
            background-color: #3A8043;
            width: 100%;
            box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
            p{
                text-align: center;
                padding-top: 10%;
                font-size: 2ex;
                padding-left: 2%;
                padding-right: 2%;
            }
            .reserve{
                padding-top: 15%;
                padding-left: 30%;
                a{
                    background-color: #8AE395;
                    padding: 1% 15% 1% 15%;
                    border-radius: 0.5em;
                    color: black;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    &:hover{
                        color: white;
                        padding: 3% 20% 3% 20%;
                    }
                }
            }
        }
    }
}

//footer
footer{
    width: 100%;
    background-color:var(--bleu);
    font-family:var(--neucha);
    a{
        transition: 0.5s all;
        &:hover{
            transform: scale(1.1);
        }
    }
    .flex{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        padding-bottom:2%;
        a{
            transition: 0.5s all;
            &:hover{
                transform: scale(1.1);
            }
        }
        .container{
            width: 25%;
            display:flex;
            flex-direction: column;
            margin: 0 4%;
            p,a{
                font-family: "Neucha", cursive;
            }
            img{
                width: 60%;
                margin-top:0;
                padding-bottom: 10%;
            }
            ul{
                li{
                    transition: 0.5s all;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            .coordonnees{
                display: flex;
                padding : 0 5% 5% 5%;
                margin-right:2%;
                color: white;
                i{
                    text-align: center;
                    color:white;
                    margin-right: 3%;
                }
                a{
                    transition: 0.5s all;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            .remonte{
                p{
                    font-family: "Neucha", cursive;
                }
            }
            ul{
                font-size: 0;
                margin-top: 10%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                li{
                    padding-bottom:4%;
                    a{
                        color: white;
                        font-size: 25px;
                        transition: 0.5s all;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        i{
            text-align: center;
        }
    }
    .center{
        display:flex;
        align-items: center;
        justify-content: space-between;
        p{
            padding: 2%;
            font-family: "Neucha", cursive;
        }
        .logo{
            display:flex;
            width: 20%;
            justify-content: space-around;

            i{
                padding:15%;
                color: white;
            }
        }
    }
    .mentions{
        width: 96%;
        background-color: var(--bleu-fonce);
        text-align: center;
        padding: 2%;
        
        .mentionsdroits{
            display: flex;
            justify-content: center;
            a{
                color: white;
            }
        }
    }
}

//----------------------------------------------------------------------------- RESPONSIVE

// Responsive en 1920px

@media screen and (min-width: 1920px){
    .resto{
        .resto1{
            .txtResto{
                p{
                    font-size: 2em;
                }
            }
            .vegan-locaux{
                padding: 2%;
                font-size: 1.5em;
            }
        }
        .resto2{
            .txtResto{
                padding-bottom: 29%;
                p{
                    font-size: 2em;
                }
            }
            .vegan-locaux{
                padding: 2%;
                font-size: 1.5em;
                left: 85%;
            }
        }
    }
    .detente{
        .detente1{
            .txtDetente{
                p{
                    font-size: 1.5em;
                }
            }
        }
        .detente2{
            .txtDetente{
                p{
                    font-size: 1.5em;
                }
            }
            .reserve{
                a{
                    font-size: 1.5em;
                }
            }
        }
    }
}
// Responsive en 1200px

@media screen and (max-width: 1200px){
    //partie restaurant
    .resto{
        .resto2{
            .txtResto{
                padding-bottom: 20%;
            }
            .vegan-locaux{
                left: 85%;
                width: 2.5%;
                p{
                    font-size: 60%;
                }
            }
        }
        .resto1{
            .vegan-locaux{
                width: 2.5%;
                p{
                    font-size: 60%;
                }
            }
        }
    }

    //espace d'étente
    .detente{
        .detente1{
            .txtDetente{
                p{
                    padding-top: 15%;
                }
            }
        }
        .detente2{
            .txtDetente{
                padding: 0% 5% 0% 5%;
                width: 80%;
                .reserve{
                    padding-top: 2%;
                }
            }
        }
    }
}

// Responsive en 1024px
@media screen and (max-width: 1024px){
    // navbar
    .navBar nav ul li a {
        font-size: 1.3em;
      }
        
      .navBar nav ul li a:hover{
        transform: scale(1.4);
      }
    
      .navBar .monCompte {
        width: 15%;
        margin: 1% 0;
      }
      .navBar .monCompte a {
        font-size: 1.3em;
      }

      // header
      .headerP{
        h1{
            font-size: 2.5em;
        }
      }

      //les différentes types d'attraction
      .typeAttraction{
        .petiteA{
            .imgA{
                width: 95%;
            }
        }
        .moyenneA{
            .txtA{
                
            }
            .imgA{
                width: 83.8%;
            }
        }
        .grandeA{
            .imgA{
                width: 84%;
            }
        }
      }

      //partie restaurant
      .resto{
        .resto1{
            width: 100%;
            .imgResto{
                img{
                    width: 50vh;
                }
            }
            .vegan-locaux{
                top: 5%;
                left: 40%;
                width: 3%;
                p{
                    font-size: 60%;
                }
            }
            .txtResto{
                width: 90%;
                padding-bottom: 9%;
            }
        }
        .resto2{
            padding-left: 13%;
            .imgResto{
                img{
                    width: 50vh;
                }
            }
            .txtResto{
                padding-bottom: 16%;
            }
            .vegan-locaux{
                top: 5%;
                left: 88%;
                width: 3%;
                p{
                    font-size: 60%;
                    
                }
            }
        }
      }

      // espace détente
      .bannerDetente{
        h1{
            font-size: 2em;
        }
      }

      .detente{
        .detente1{
            .txtDetente{
                width: 50%;
                p{
                    font-size: 90%;
                }
            }
        }
        .detente2{
            .txtDetente{
                width: 80%;
                p{
                    font-size: 89%;
                }
                .reserve{
                    padding-top: 10%;
                }
            }
        }
      }
      footer{
        font-size: 0.7em;
        .flex{
            .container{
                img{
                    margin-left: 20px;
                }
                ul{
                    li{
                        a{
                            font-size: 15px;
                        }
                    }
                }
                .logo{
                    a{
                        margin: 0 15%;
                    }
                }
            }
            .center{
                p{
                    padding: 7% 15%;
                    text-align: center;  
                }
                
            }
            .center{
                font-size: 90%;
            }
        }
        .mentions{
            width: 96%;
        }
    }
}

// responsive en 768px
@media screen and (max-width: 768px){
    header div#navigation{
        display: block;
    }
    header {
        padding: 10px 20px 80px 20px;
        background-color: var(--bleu-clair);
        .navBar {
            display: none;
        }
        #toggle {
            position:fixed;
            display: block;
            width: 30px;
            height: 2px;
            top: 50px;
            right: 50px;
            cursor: pointer;
            background-color:var(--bleu-fonce);
            // transform: translate(-50%, -50%);
            transition: all .3s ease-in-out; // on peut préciser le type de transition que l'on veut (de base linéaire) ; ease-in-out = la transition commence lentement, s'accélère puis ralentit à nouveau avant la fin
            // D'autres transition : ease-in (augmente progressivement) ; ease-out (ralentit progressivement) ; ...
            z-index: 8;
            &:before, &:after {
                content: '';
                // pas comme :hover, il faudra repréciser le display, la width, la height...
                position: absolute;
                display: block;
                width: 30px;
                height: 2px;
                background-color:var(--bleu-fonce);
                transition: all .3s ease-in-out; 
            }
            &:before {
                top: -10px;
            }
            &:after {
                top: 10px;
            }  
        }
        #toggle.active { 
			 
            //on va également créer la petite animation des span à l'ouverture du menu
			background-color: transparent; // on rend transparent le span du milieu
			&:before {
				// on crée une rotation sur le span du haut et on le recentre sur le carré
				transform: rotate(45deg);
				top: 0;
			}
			&:after {
				// on crée une rotation sur le span du bas et on le recentre sur le carré
				transform: rotate(-45deg);
				top: 0;
			}
			//selon le degré de rotation que vous indiquez, le sens de l'animation ne sera pas le même  
        }
        #navigation {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            right: -100%;
            width: 100%;
            height: 100vh;
            transition: .5s;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 6;
        }
        #navigation.active {
           right: 0;
           .logo{
            display: none;
           }
            ul {
                display:flex;
                flex-direction: column;
                li {
                    display: block;
                    margin-bottom: 20px;
                    width: 100%;
                    .sous{
                        display: none;
                    }
                    a {
                        color: var(--bleu-fonce);
                        font-size: 35px;
                        text-align: center;
                        font-family: var(--neucha);
                        margin-bottom: 5%;
                        // display: block;
                    }
                }
            }    
        }    
    }

    //header
    .headerP{
        h1{
            font-size: 2em;
        }
    }

    //partie restaurant
    .resto{
        .resto1{
            .vegan-locaux{
                padding: 2%;
                width: 3.5%;
                p{
                    font-size: 50%;
                }
            }
        }
        .resto2{
            .vegan-locaux{
                padding: 2%;
                width: 3.5%;
                p{
                    font-size: 50%;
                }
            }
            .txtResto{
                padding-bottom: 18%;
            }
        }
    }
    //esapce détente
    .detente{
        .detente1{
            .txtDetente{
                width: 46%;
                padding: 0% 2%;
                
                p{
                    font-size: 60%;
                }
            }
            .imgD{
                width: 49%;
            }
        }
        
        .detente2{
            .txtDetente{
                width: 45%;
                padding: 2%;
                
                p{
                    font-size: 60%;
                    
                }
            }
            .imgD{
                width: 50%;
            }
            .reserve{
                a{
                    font-size: 80%;
                }
            }
        }
        
    }
    
 /* FOOTER */

 footer{
    font-size: 0.7em;
  }
  footer .flex .footcontact img{
    width: 80%;
    
  }

  footer .center p{
    padding: 7% 15%;
    text-align: center;
  }

  footer .container ul li{
    display: none;
  }

  footer .center{
    font-size: 1em;
    width: 100%;
  }

  footer .center p{
    padding: 2% 0;
  }

  footer .footnav{
    width: 0%;
  }

  footer .footcontact{
    width: 70%;
  }
  footer .footcontact .coordonnees{
    width: 100%;
  }
  footer{
    .flex{
        padding: 2% 0% 0% 0%;
        .center{
        p{
            display:none;
        }
        .logo{
            &:nth-last-child(1){
                display: none;
            }
            margin-right:100%;
            a{
                font-size: 2em;
                padding: 20%;
            }
            }
        }
        }
    } 
}

// responsive en 480px
@media screen and (max-width: 480px){
    //header
    .headerP{
       h1{
        font-size: 1.5em;
       }
    }

    //section attraction
    .typeAttraction{
        width: 100%;
        display: flex;
        flex-direction: column;
        .petiteA{
            width: 100%;
            .txtA{
                width: 100%;
                font-size: 100%;
                p{
                    font-size: 5em;
                }
            }
        }
        .moyenneA{
            width: 100%;
        }
        .grandeA{
            width: 100%;
        }
    }
    //section restaurant
    .resto{
        width: 100%;
        .resto1{
            width: 40%;
            padding-left: 5%;
            .imgResto{
                img{
                    width: 35vh;
                }
            }
            .vegan-locaux{
                border-radius: 10em;
                top: 8%;
                left: 32%;
                padding-right: 4%;
                p{
                    font-size: 50%; 
                }
            }
             .txtResto{
                width: 90%;
                padding-left: 5%;
                p{
                    padding-left: 0%;
                    font-size: 85%;
                }
             }
        }
        
        .resto2{
            padding-right: 8.4%;
            width: 33%;
            .imgResto{
                img{
                    width:35vh;
                    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
                }
            }
            .vegan-locaux{
                border-radius: 10em;
                top: 8%;
                left: 85%;
                padding-right: 4%;
                p{
                    font-size: 50%; 
                }
            }
            .txtResto{
                padding-bottom: 6%;
                width: 106%;
                p{
                 font-size: 90%;
                 padding-bottom: 25%;
                }
            }
        }
       
    }

    //detente
    .bannerDetente{
        h1{
            font-size: 1.2em;
        }
    }

    .detente{
        .detente1{
            //width: 65%;
            .txtDetente{
                width: 50%;
                p{
                    font-size: 50%;
                }
            }
        }
        .detente2{
            .imgD{
                width: 60vh;
            }
            .txtDetente{
                width: 91%;
                p{
                    font-size: 45%;
                    padding-top: 0;
                }
            }
            .reserve{
               font-size: 60%;
            }
        }
    }
    //footer
    footer{
        .flex{
            .container{
                .coordonnees{
                    i{
                        font-size: 70%;
                    }
                    a{
                        font-size: 60%;
                    }
                    p{
                        font-size: 60%;
                    }
                }
            }
            .center{
                .logo{
                    i{
                        font-size: 60%;
                    }
                }
            }
        }
    }
}

// responsive en 425px
@media screen and (max-width: 425px){
    .resto{
        .resto1{
            .imgResto{
                img{
                    width: 30vh;
                }
            }
            .txtResto{
                width: 90%;
                p{
                    font-size: 65%;
                }
            }
            .vegan-locaux{
                padding: 2%;
                width: 7%;
                border-radius: 20em;
            }
        }
        .resto2{
            .imgResto{
               img{
                width: 30vh;
               }
            }
            .txtResto{
                width: 102.5%;
                p{
                    font-size: 65%;
                    padding-bottom: 27%;
                }
            }
            .vegan-locaux{
                padding: 2%;
                width: 7%;
                border-radius: 20em;
            }
        }
    }
    .detente{
        .detente1{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 7%;
            .imgD{
                img{
                    width: 40vh;
                }
            }
            .txtDetente{
                width: 78%;
                padding-bottom: 10%;
                font-size: 1.5em;
            }
        }
        .detente2{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            padding-left: 7%;
            .imgD{
                padding-top: 5%;
                img{
                    width: 40vh;
                }
            }
            .txtDetente{
                width: 78%;
                padding-top: 5%;
                font-size: 1.5em;
            }
            .reserve{
                padding-right: 30%;
            }
        }
    }
}
