*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}

a, img{
    display: block;
}

:root{
    --poppins:'Poppins',sans-serif;
    --neucha:"Neucha", cursive;
    --bleu-clair:#c7e3cb;
    --bleu :#56B462;
    --bleu-fonce :#3A8043;

}
#navigation{
    display: none
}


main{
    background-color: var(--bleu-clair);
    font-family: var(--poppins);
}



//----------------------------------------------barre de navigation
//barre de navigation
.navBar{
    width: 100%;
    background-color: var(--bleu);
    display:flex;
    justify-content: space-around;
    align-items: center;
    .logo{
        width: 8%;
        padding : 0.5% 0;
        img{
            width: 100%;
        }
    }
    nav{
        width: 50%;
        ul{
            // font-size: 0;
            display: flex;
            justify-content: space-around;
            li{
                list-style-type: none;
                a{
                    font-family: var(--neucha);
                    font-size: 1.8em;
                    text-decoration: none;
                    transition:0.5s all;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .sous{
                    display: none;
                    position: absolute;
                    transition: 1s all;
                }
                &:hover{
                    .sous{
                        display: block;
                        li{
                            background-color: var(--bleu);
                            opacity: 0.8;
                            border-bottom: solid var(--bleu-clair)1px;
                            padding: 2%;
                            background-color: var(--bleu-fonce);
                            a{
                                font-size:25px;
                                padding: 2%;
                                transition:0.5s all;
                                &:hover{
                                    color: #204725;
                                    transform: scale(1);
                                }
                            }
                        }
                
                    }
                }
            }
            .deroulant{
                    &:after{
                    content: "⏷";
                    font-size: 0.7em;
                    }
                
            }
        }
    }
    .monCompte{
        width: 15%;
        background-color: var(--bleu-fonce);
        font-family: var(--neucha);
        display: flex;
        justify-content: center;
        padding: 1% 2%;
        border-radius: 3vh;
        a{
        text-decoration: none;
        font-size: 1.5em;
        transition: 0.5s all;
        &:hover{
            transform: scale(1.1);
        }
        }
    }
}

.bannerTitle{
    width: 100%;
    background-image: url(https://i.goopics.net/k2ntuw.jpg);
    background-position: center;
    background-size: cover; 
    padding-bottom: 15%; 
    h1 {
    text-align: center;
    padding: 7% 0% 2% 0%;
    font-family: "Neucha", cursive;
    font-size: 10em;
    color: white;
    font-weight: 400;
    }
    .line{
        width: 20%;
        height: 0.2em;
        background-color: white;
        margin: 0 auto;
        margin-bottom: 4%;
    }
    h2 {
        text-align: center;
        font-family: "Neucha", cursive;
        font-size: 4em;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        .plus{ 
            animation: plus 4s infinite linear;}
        }
        .moins{
            animation: moins 4s infinite;
        }
}
// -------------------------------------------------------main
main{
    padding-top: 5%;
    .presentation{       
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin: 0 auto 5% auto;
            background-color: var(--bleu-fonce);
            filter: drop-shadow(1em 1em 1.5em rgba(0, 0, 0, 0.50));
            .actimg{
                width: 50%;
                img{
                    width: 100%;
                }
            }
            .acttxt{
                background-color: var(--bleu-fonce);
                width: 50%;
                h2{
                    text-align: center;
                    font-size: 2.2em;
                    padding: 7%;
                    text-transform: uppercase;
                }
                .line{
                width: 40%;
                height: 0.2em;
                background-color: white;
                margin: 0 auto;
                margin-bottom: 10%;
                }
                p{
                text-align: center;
                font-size: 1.9em;
                margin-bottom: 6%;
                padding:5%
                }
            }
        }
    


            



// banner attraction
    .banner {
        width: 100%;
        background-image: url(https://i.goopics.net/fqhoc7.jpg);
        background-position: center;
        background-size: cover;
        padding-left: 15%;
        margin-bottom: 5%;
        h1 {
        padding: 7% 0%;
        font-family: var(--neucha);
        font-size: 6em;
        color: white;
        font-weight: 400;
    }
    }
    .attractions{
        width: 100%;
        .underTitle{
            text-align: center;
            margin: 3% 0;
            color: var(--bleu-fonce);
            font-weight: bold;
            font-size: 1.5em;
        }
        .line{
            width: 20%;
            height: 0.2em;
            background-color: var(--bleu-fonce);
            margin: 0 auto;
            margin-bottom: 4%;
        }
        .flexContainer{
            display: flex;
            justify-content: center;
            filter: drop-shadow(1em 1em 1.5em rgba(0, 0, 0, 0.50));
            img{
                width: 35%;
            }
            .container{
                width: 35%;
                background-color: var(--bleu-fonce);
                padding: 4% 2% 2% 2%;
                p{
                    padding: 2%;
                    color: white;
                    font-weight: light;
                    text-align: center;
                    font-size:1.5em
                    
                }
                a{
                    background-color: var(--bleu-clair);
                    color: var(--bleu-fonce);
                    text-align:center;
                    border-radius: 3vh;
                    font-weight: bold;
                    margin-top:7%;
                    padding:2% 0;
                    transition:0.5s all;
                    width:75%;
                    margin:7% auto 0 auto;
                    font-size: 1.4em;

                    &:hover{
                        transform: scale(1.1);
                    }
                    
                }
            }
        }
    }
    .banner2{
        width: 100%;
        background-image: url(https://i.goopics.net/7x4d98.jpg);
        background-position: center;
        background-size: cover;
        padding-left: 15%;
        margin: 5% 0;
        h1 {
        padding: 7% 20% 7% 0;
        font-family: var(--neucha);
        font-size: 6em;
        color: white;
        font-weight: 400;
        text-align: right;
    }
    }
    .nature{
        .underTitle{
            text-align: center;
            margin: 3% 0;
            color: var(--bleu-fonce);
            font-weight: bold;
            font-size: 1.5em;
        }
        
        .line{
            width: 20%;
            height: 0.2em;
            background-color: var(--bleu-fonce);
            margin: 0 auto;
            margin-bottom: 5%;
        }
        .actcontainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            filter: drop-shadow(1em 1em 1.5em rgba(0, 0, 0, 0.50));
            padding-bottom: 5%;
            .acttxtimg{
                width: 60%;
                display: flex;
                .acttxt{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: var(--bleu-fonce);
                    text-align: center;
                    padding: 0 5%;
                    color: white;
                    h2{
                        font-weight: 400;
                        margin-bottom: 4%;
                        text-transform: uppercase;
                        font-size: 2em;
                    }
                    .line{
                        width: 8em;
                        height: 0.1em;
                        background-color: white;
                        margin: 0 auto;
                        margin-bottom: 4%;
                    }
                    p{
                        font-size: 1.5em;
                        margin-bottom: 10%;
                    }
                    a{
                        background-color: var(--bleu-clair);
                        color: var(--bleu-fonce);
                        text-align:center;
                        border-radius: 3vh;
                        font-weight: bold;
                        padding:2% 0;
                        transition: 0.5s all;
                        font-size:1.4em;
                        width: 75%;
                        margin: 0 auto;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                .actimg{
                    width: 50%;
                    position:relative;
                    img{
                        width: 100%;
                    }
                }
            }
        .reverse{
            flex-direction:row-reverse;
        }
        }
    }

}
// -------------------------------------------------------footer
footer{
    width: 100%;
    background-color:var(--bleu);
    font-family:var(--neucha);
    a{
        transition: 0.5s all;
        &:hover{
            transform: scale(1.2);
        }
    }
    .flex{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        padding-bottom:2%;
        .container{
            width: 50%;
            display:flex;
            flex-direction: column;
            margin: 0 4%;
            img{
                width: 50%;
                padding: 8% 0;
            }
            .coordonnees{
                display: flex;
                padding : 0 5% 5% 5%;
                margin-right:2%;

                i{
                    text-align: center;
                    color:white;
                    margin-right: 5.5%;
                }
            }
            ul{
                font-size: 0;
                margin-top: 10%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                li{
                    padding-bottom:4%;
                    a{
                        color: white;
                        font-size: 25px;
                        
                    }
                }
            }
        }
        i{
            text-align: center;
        }
    }
    .center{
        display:flex;
        align-items: center;
        justify-content: space-between;
        p{
            padding: 2%;
            }
        .logo{
            display:flex;
            width: 20%;
            justify-content: space-around;

            i{
                padding:15%;
            }
            
        }
        
        
    }
    .mentions{
        width: 100%;
        background-color: var(--bleu-fonce);
        text-align: center;
        padding: 2%;
        .mentionsdroits{
            display: flex;
            justify-content: center;
        }
    }
    
}

// responsive
@media screen and (max-width:1440px){
    main{
        .presentation{
            .acttxt{
                p{
                    font-size:1.5em
                }
            }
        }
        .attractions{
            .flexContainer{
                .container{
                    font-size: 1em;
                }
            }
        }
        .nature{
            .actcontainer{
                .acttxtimg{
                    .acttxt{
                        p{
                        font-size: 1.2em;
                        }
                        a{
                            font-size: 1.2em;
                        }
                    }
                }   
            } 
        }
    }
    
}
@media screen and (max-width: 1200px){
    header{
        .navBar{
            nav{
                ul{
                    li{
                        a{
                            font-size: 1.3em;
                        }
                    }
                }
            }
            .monCompte{
                a{
                    font-size:1.3em;
                }
            }
        }
    }
    main{
        .presentation{
            .acttxt{
                p{
                    font-size:1.2em
                }
            }
        }
        .attractions{
            .flexContainer{
                .container{
                    font-size: 0.8em;
                }
            }
        }
        .nature{
            .actcontainer{
                .acttxtimg{
                    .acttxt{
                        h2{
                            font-size: 1.2em;
                        }
                        p{
                        font-size: 1em;
                        }
                        a{
                            font-size: 1em;
                        }
                    }
                }   
            } 
        }
    }
    
}

@media screen and (max-width: 1024px){
    header{
        .navBar nav ul li a {
        font-size: 1.2em;
        &:hover{
            transform:scale(1.2)
        }
        }
    .navBar{
        .monCompte{
            width: 15%;
            margin: 1% 0;
            a{
                font-size: 1em;
            }
        }
    }
        
    }
    .bannerTitle{
        h1{
            font-size: 6em;
        }
        h2{
            font-size:3em;
        }
    }
main{
    .presentation{
        width: 80%;
        .acttxt{
            h2{
                padding-top:6%;
                font-size: 2em;
                margin-bottom:1em
            }
        }
    }
    .attractions{
        .underTitle{
            padding: 1% 3%;
        }
        .flexContainer{
            img{
                width: 40%;
            }
            .container{
                width: 40%;
            }

        }
    }
    .nature{
        .actcontainer{
            .acttxtimg{
                width: 75%;
            }
        }
    }

}
// responsive footer
footer{
    font-size: 0.7em;
    .flex{
        .container{
            img{
                margin-left: 20px;
            }
            ul{
                li{
                    a{
                        font-size: 15px;
                    }
                }
            }
            .logo{
                a{
                    margin: 0 15%;
                }
            }
        }
        .center{
            p{
                padding: 7% 15%;
                text-align: center;  
            }
            
        }   
    }
}
}

// mediaquery 768px
@media screen and (max-width: 768px){
    header {
        padding: 10px 20px 80px 20px;
        background-color: var(--bleu-clair);
        .navBar {
            display: none;
        }
        #toggle {
            position:fixed;
            display: block;
            width: 30px;
            height: 2px;
            top: 50px;
            right: 50px;
            cursor: pointer;
            background-color:#204725;
            // transform: translate(-50%, -50%);
            transition: all .3s ease-in-out; // on peut préciser le type de transition que l'on veut (de base linéaire) ; ease-in-out = la transition commence lentement, s'accélère puis ralentit à nouveau avant la fin
            // D'autres transition : ease-in (augmente progressivement) ; ease-out (ralentit progressivement) ; ...
            z-index: 8;
            &:before, &:after {
                content: '';
                // pas comme :hover, il faudra repréciser le display, la width, la height...
                position: absolute;
                display: block;
                width: 30px;
                height: 2px;
                background-color:#204725;
                transition: all .3s ease-in-out; 
            }
            &:before {
                top: -10px;
            }
            &:after {
                top: 10px;
            }  
        }
        #toggle.active { 
			 
            //on va également créer la petite animation des span à l'ouverture du menu
			background-color: transparent; // on rend transparent le span du milieu
			&:before {
				// on crée une rotation sur le span du haut et on le recentre sur le carré
				transform: rotate(45deg);
				top: 0;
			}
			&:after {
				// on crée une rotation sur le span du bas et on le recentre sur le carré
				transform: rotate(-45deg);
				top: 0;
			}
			//selon le degré de rotation que vous indiquez, le sens de l'animation ne sera pas le même  
        }
        #navigation {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            right: -100%;
            width: 100%;
            height: 100vh;
            transition: .5s;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 6;
        }
        #navigation.active {
           right: 0;
           .logo{
            display: none;
           }
            ul {
                display:flex;
                flex-direction: column;
                li {
                    display: block;
                    margin-bottom: 20px;
                    width: 100%;
                    .sous{
                        display: none;
                    }
                    a {
                        color: var(--bleu-fonce);
                        font-size: 35px;
                        text-align: center;
                        font-family: var(--neucha);
                        margin-bottom: 5%;
                        // display: block;
                    }
                }
            }    
        }    
    }
    main{
    .bannerTitle{
        h1{
            font-size: 2.5em;
        }
        h2{
            font-size:2em;
        }
    }

    .presentation{
        width: 95%;
        .acttxt{
            h2{
                padding-top:2%;
                font-size: 1.5em;
                margin-bottom:1.5em;
            }
                p{
                    font-size: 18px;
                }
            }
        }
        .banner{
            h1{
                font-size: 2.5em;
            }
        }
        .attractions{
            .flexContainer{
                filter:none;
                .container{
                    p{
                        font-size:1em;
                    }
                }
            }
            .underTitle{
                font-size: 1.2em;
            }
        }
        .banner2{
            h1{
                font-size: 3em;
            }
        }
        .nature{
            
            .underTitle{
                font-size: 1.3em;
                padding: 0 2%;
                
                }
            
            .actcontainer{
                filter: none;
                .acttxtimg{
                    width: 85%;
                }
            }
        }
    }
    footer{
        font-size: 0.7em;
      }
    
      footer .flex .footcontact img{
        width: 80%;
        
      }
    
      footer .center p{
        padding: 7% 15%;
        text-align: center;
      }
    
      footer .container ul li{
        display: none;
      }
    
      footer .center{
        font-size: 1em;
        width: 100%;
      }
    
      footer .center p{
        padding: 2% 0;
      }
    
      footer .flex{
        padding: 5% 10% 5% 10%;
      }
    
      footer .footnav{
        width: 0%;
      }
    
      footer .footcontact{
        width: 70%;
      }
      footer .footcontact .coordonnees{
        width: 100%;
      }
      footer{
        .flex{
            .center{
            p{
                display:none;
            }
            .logo{
                &:nth-last-child(1){
                    display: none;
                }
                margin-right:100%;
                a{
                    font-size: 2em;
                    padding: 20%;
                }
               
                
                }
            }
        
            }
        }
    

}
// mediaquery 480px
@media screen and (max-width: 480px){
    .bannerTitle{
        h1{
            font-size: 4em;
        }
        h2{
            font-size:2em;
        }
     }
    main{
        .presentation{
            width: 95%;
            .actimg{
                display: none;
                img  {display: none;}
            }
            .acttxt{
                width: 100%;
                padding:0;
                margin: 0;
                h2{
                    padding-top:2%;
                    font-size: 0.9em;
                    margin-bottom:1em;
                    width: 100%;
                }
                    p{
                        font-size: 0.8em;
                    }
                }
            }

        .banner{
            h1{
                font-size: 2em;
            }
        }
        .attractions{
            .underTitle{
                font-size: 1.0em;
            }
            
            .flexContainer{
                flex-wrap: wrap;
                width: 90%;
                margin: 0 auto;
                img{
                    width: 100% ;
                }
                .container{
                    width: 100%;
                    img{
                        width: 95%;
                    }
                }
                        }
            .reverse{
                flex-wrap:wrap-reverse;
            }            
        }
        .banner2{
            h1{
                font-size: 2em;
            }
        }
        .nature{
            .underTitle{
                font-size: 1.0em;
                padding: 0 2%;
            }
            .actcontainer{
                flex-wrap:wrap;
                width: 90%;
                margin: 0 auto;
                .acttxtimg{
                    width: 100%;
                    flex-wrap:wrap;
                    .acttxt{
                        h2{
                            font-size: 1em;
                            margin-top:3%
                        }
                        p{
                            font-size: 0.8em;
                            padding: 0;
                            margin: 1%;
                        }
                        a{
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }
} 

@media screen and (max-width: 424px){
    main{
        .presentation{
            .acttxt{
                margin:0;
                h2{
                    padding: 1%;
                }
                p{
                    padding: 0;
                }
            }
        }
        .attractions {
            .underTitle{
                font-size:0.9em;
            }
            .flexContainer{
                .container{
                    a{
                        font-size: 1.2em;
                        margin-top: 2%;
                    }
                }
            }
        }
        .nature{
            .underTitle{
                font-size: 0.9em;
            }
            .actcontainer{
                flex-wrap:wrap;
                .acttxtimg{
                    .actimg{
                        width: 100%;
                    }
                    .acttxt{
                        width: 100%;
                        a{
                            margin: 5% auto;
                        }
                    }
                }
            }
        }
    }
    footer{
        .flex{
            padding: 2%;
        }
    }
}  
@media screen and (max-width: 320px){
    .bannerTitle{
        h1{
            font-size: 3em;
        }
        h2{
            font-size: 1.5em;
        }
    }
    main{
       .attractions{
            .underTitle{
                font-size: 0.78m;
        } 
    }
    

    }
    footer{
        .logo{
            i{
                font-size: 0.7em;
            }
        }
    }
}  
    




