@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

a, img {
  display: block;
}

:root {
  --poppins:"Poppins",sans-serif;
  --neucha:"Neucha", cursive;
  --bleu-clair:#c7e3cb;
  --bleu:#56B462;
  --bleu-fonce:#3A8043;
}

#navigation {
  display: none;
}

main {
  background-color: var(--bleu-clair);
  font-family: var(--poppins);
}

body {
  overflow-x: hidden;
}

.scrollDown {
  z-index: 99;
  position: fixed;
}

/* POP UP CONNEXION */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  background-color: var(--bleu-clair);
  padding: 2% 3%;
  font-size: 1.7em;
  border-radius: 1em;
  background-color: var(--bleu);
  border: 0.07em solid var(--bleu-fonce);
  font-family: "Neucha", sans-serif;
  color: white;
}

.popup #closepopup {
  background-color: var(--bleu-fonce);
  color: white;
  font-size: 0.8em;
  border: none;
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4%;
  top: 2.5%;
  cursor: pointer;
}

fieldset {
  border: none;
}

.popup form fieldset legend {
  font-size: 1.7em;
  text-align: center;
  border-bottom: 0.06em solid white;
  padding-bottom: 5%;
}

#meconnecter,
#minscrire {
  color: white;
  text-align: center;
  margin: 10% 0 3% 0;
  border-radius: 1em;
  background-color: var(--bleu-fonce);
  padding: 2% 0;
  transition: 0.5s all;
  border: none;
  font-family: "Neucha", sans-serif;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  transition: 0.5s all;
}

#minscrire {
  font-size: 1em;
  margin-top: 6%;
}

#minscrire:hover {
  transform: scale(1.1);
}

.popup form fieldset #meconnecter:hover {
  transform: scale(1.1);
}

.popup form fieldset .connectremember a:hover {
  transform: scale(1.1);
}

.popup form fieldset .connectremember label {
  padding-left: 1%;
  font-size: 0.7em;
}

.popup form fieldset .plssignup {
  font-size: 0.8em;
}

.popup form fieldset .plssignup a {
  color: white;
  text-align: center;
  margin: 6% 0 3% 0;
  border-radius: 1em;
  background-color: var(--bleu-fonce);
  padding: 2% 0;
  font-size: 1.3em;
  transition: 0.5s all;
}

.popup form fieldset .plssignup a:hover {
  transform: scale(1.1);
}

.emailflex, .passwordflex {
  display: flex;
  flex-direction: column;
}

#emaildisable {
  padding: 5% 0 4% 0;
}

.entrystyle input {
  margin-top: 2%;
  padding: 2% 4%;
  font-size: 0.6em;
  background-color: var(--bleu-clair);
  border: none;
  border-radius: 1em;
}

#emaildisable input::-moz-placeholder, #passworddisable input::-moz-placeholder {
  color: black;
  font-weight: 500;
}

#emaildisable input::placeholder,
#passworddisable input::placeholder {
  color: black;
  font-weight: 500;
}

.emaildisable,
.passworddisable {
  pointer-events: none;
}

.popup {
  visibility: visible;
  transition: 0.5s all;
  transform: translate(-50%, -50%) scale(1);
}

.popupdisplay {
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0);
}

/* POPUP SIGNUP */
#popupsignup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  background-color: var(--bleu-clair);
  padding: 2% 3%;
  font-size: 1.7em;
  border-radius: 1em;
  background-color: var(--bleu);
  border: 0.07em solid var(--bleu-fonce);
  font-family: "Neucha", sans-serif;
  color: white;
  width: 50%;
}

#closepopupsignup {
  background-color: var(--bleu-fonce);
  color: white;
  font-size: 0.8em;
  border: none;
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4%;
  top: 2.5%;
  cursor: pointer;
}

.signup {
  visibility: visible;
  transition: 0.5s all;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
}

.signup form .login .connect {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 4%;
}

.signup form .login .containersignup {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 0.1em solid var(--bleu-clair);
  border-radius: 1em;
  padding: 5% 5%;
  position: relative;
}

.signup form .login .containersignup label {
  width: 100%;
  font-size: 0.9em;
}

.signup form .login .containersignup input {
  color: black;
}

.signup form .login .containersignup .middleentry {
  margin: 5% 0;
}

.signup form .login .containersignup .leftsignup {
  width: 45%;
}

.signup form .login .containersignup .leftsignup p,
.signup form .login .containersignup .rightsignup p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup form .login .containersignup .line {
  width: 30%;
  height: 0.07em;
  background: linear-gradient(to left, --bleu, --bleu-clair, --bleu);
  transform: rotate(90deg);
  align-self: center;
  position: absolute;
}

.signup form .login .containersignup .rightsignup {
  width: 45%;
}

.signup form .login .containersignup .rightsignup .entrystyle {
  width: 100%;
}

.signup form .login .containersignup .rightsignup .entrystyle input {
  width: 100%;
}

.signupdisplay {
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0);
}

.signup .submitsignup {
  color: white;
  border-radius: 1em;
  background-color: var(--bleu-fonce);
  padding: 1% 4%;
  display: inline-block;
  margin: 0 auto;
  margin-top: 4%;
  transition: 0.5s all;
}

.signup .submitsignup:hover {
  transform: scale(1.1);
}

header .milieu {
  display: none;
}
header .milieu .monCompte2 {
  display: inline-block;
  width: 100%;
  background-color: var(--bleuFonce);
  font-family: var(--neucha);
  border-radius: 3vh;
}
header .milieu .monCompte2 .btnCompte2 {
  display: inline-block;
  background-color: var(--bleuFonce);
  border: none;
  text-decoration: none;
  font-size: 1em;
  transition: 0.5s all;
  position: relative;
  border-radius: 2vh;
  padding: 0.5em 2em;
}
header .milieu .monCompte2 .btnCompte2 p {
  font-family: var(--neucha);
}
header .milieu .monCompte2 .btnCompte2:hover {
  transform: scale(1.1);
}
header .milieu .monCompte2 .btnCompte2 #box2 {
  align-items: center;
  justify-content: center;
}
header .milieu .monCompte2 .btnCompte2 .gestionCompte {
  display: block;
  font-family: var(--neucha);
  list-style-type: none;
  position: absolute;
  left: 10%;
  transition: 1 all;
}
header .milieu .monCompte2 .btnCompte2 .gestionCompte li a {
  font-size: 0.7em;
}
header .milieu .monCompte2 .btnCompte2 .gestionNone {
  display: none;
}
header .milieu .monCompte2 .btnCompte2 .gestion {
  width: 80%;
  margin-top: 5%;
  background-color: #1F5180;
  opacity: 0.8;
  padding: 10%;
}
header .milieu .monCompte2 .btnCompte2 .deco {
  width: 80%;
  background-color: #1F5180;
  opacity: 0.8;
  padding: 10%;
}
header .cart {
  display: none;
}
header .navBar {
  width: 100%;
  background-color: var(--bleu);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .navBar .logo {
  width: 8%;
  padding: 0.5% 0;
}
header .navBar .logo img {
  width: 100%;
}
header .navBar nav {
  width: 50%;
}
header .navBar nav ul {
  display: flex;
  justify-content: space-around;
}
header .navBar nav ul li {
  list-style-type: none;
}
header .navBar nav ul li a {
  font-family: var(--neucha);
  font-size: 1.8em;
  text-decoration: none;
  transition: 0.5s all;
}
header .navBar nav ul li a:hover {
  transform: scale(1.1);
}
header .navBar nav ul li .sous {
  display: none;
  position: absolute;
  transition: 1s all;
}
header .navBar nav ul li:hover .sous {
  display: block;
}
header .navBar nav ul li:hover .sous li {
  background-color: var(--bleu);
  opacity: 0.8;
  border-bottom: solid var(--bleu-clair) 1px;
  padding: 2%;
  background-color: var(--bleu-fonce);
}
header .navBar nav ul li:hover .sous li a {
  font-size: 25px;
  padding: 2%;
  transition: 0.5s all;
}
header .navBar nav ul li:hover .sous li a:hover {
  color: #204725;
  transform: scale(1);
}
header .navBar nav ul .deroulant:after {
  content: "⏷";
  font-size: 0.7em;
}
header .navBar .monCompte {
  background-color: var(--bleu-fonce);
  font-family: var(--neucha);
  display: flex;
  justify-content: center;
  padding: 1% 2%;
  border-radius: 3vh;
}
header .navBar .monCompte button {
  width: 100%;
  background-color: var(--bleu-fonce);
  border: none;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.5s all;
  position: relative;
  cursor: pointer;
}
header .navBar .monCompte button p {
  font-family: var(--neucha);
}
header .navBar .monCompte button:hover {
  transform: scale(1.1);
}
header .navBar .monCompte button .gestionCompte {
  display: block;
  font-family: var(--neucha);
  list-style-type: none;
  position: absolute;
  transition: 1 all;
}
header .navBar .monCompte button .gestionCompte li a {
  font-size: 0.7em;
}
header .navBar .monCompte button .gestionNone {
  display: none;
}
header .navBar .monCompte button .gestion {
  width: 100%;
  margin-top: 7%;
  background-color: var(--bleu-fonce);
  opacity: 0.8;
  padding: 10%;
}
header .navBar .monCompte button .panier {
  width: 100%;
  background-color: var(--bleu-fonce);
  opacity: 0.8;
  padding: 10%;
}
header .navBar .monCompte button .deco {
  width: 100%;
  background-color: var(--bleu-fonce);
  opacity: 0.8;
  padding: 10%;
}

.bannerTitle {
  overflow-x: hidden;
  width: 100%;
  background-image: url(https://i.goopics.net/k2ntuw.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 15%;
}
.bannerTitle h1 {
  text-align: center;
  padding: 12% 0% 2% 0%;
  font-family: "Neucha", cursive;
  font-size: 10em;
  color: white;
  font-weight: 400;
}
.bannerTitle .line {
  width: 20%;
  height: 0.2em;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 4%;
}
.bannerTitle h2 {
  line-height: 2em;
  text-align: center;
  font-family: "Neucha", cursive;
  font-size: 4em;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.bannerTitle h2 .zoomPlus {
  display: inline-flex;
  padding-right: 1%;
}
.bannerTitle h2 .zoomMoins {
  display: inline-flex;
}
.bannerTitle h2 .plus {
  animation: plus 4s infinite linear;
}
.bannerTitle .moins {
  animation: moins 4s infinite;
}

main .presentation {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto 5% auto;
  margin-top: 4%;
  filter: drop-shadow(1em 1em 1.5em rgba(0, 0, 0, 0.5));
}
main .presentation .actimg {
  width: 50%;
}
main .presentation .actimg img {
  width: 100%;
}
main .presentation .acttxt {
  background-color: var(--bleu-fonce);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .presentation .acttxt h2 {
  text-align: center;
  font-size: 2.2em;
  padding: 7%;
  text-transform: uppercase;
}
main .presentation .acttxt .line {
  width: 40%;
  height: 0.2em;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 3%;
}
main .presentation .acttxt p {
  text-align: center;
  font-size: 1.9em;
  margin-bottom: 6%;
  padding: 5%;
}
main .banner {
  width: 100%;
  background-image: url(https://i.goopics.net/fqhoc7.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 15%;
  margin-bottom: 5%;
}
main .banner h1 {
  padding: 7% 0%;
  font-family: var(--neucha);
  font-size: 6em;
  color: white;
  font-weight: 400;
}
main .attractions {
  width: 100%;
}
main .attractions .underTitle {
  text-align: center;
  margin: 3% 0;
  color: var(--bleu-fonce);
  font-weight: bold;
  font-size: 1.5em;
}
main .attractions .line {
  width: 20%;
  height: 0.2em;
  background-color: var(--bleu-fonce);
  margin: 0 auto;
  margin-bottom: 4%;
}
main .attractions .flexContainer {
  display: flex;
  justify-content: center;
  filter: drop-shadow(1em 1em 1.5em rgba(0, 0, 0, 0.5));
}
main .attractions .flexContainer img {
  width: 35%;
}
main .attractions .flexContainer .container {
  width: 35%;
  background-color: var(--bleu-fonce);
  padding: 4% 2% 2% 2%;
}
main .attractions .flexContainer .container p {
  padding: 2%;
  color: white;
  font-weight: light;
  text-align: center;
  font-size: 1.5em;
}
main .attractions .flexContainer .container a {
  background-color: var(--bleu-clair);
  color: var(--bleu-fonce);
  text-align: center;
  border-radius: 3vh;
  font-weight: bold;
  margin-top: 7%;
  padding: 2% 0;
  transition: 0.5s all;
  width: 75%;
  margin: 7% auto 0 auto;
  font-size: 1.4em;
}
main .attractions .flexContainer .container a:hover {
  transform: scale(1.1);
}
main .banner2 {
  width: 100%;
  background-image: url(https://i.goopics.net/7x4d98.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 15%;
  margin: 5% 0;
}
main .banner2 h1 {
  padding: 7% 20% 7% 0;
  font-family: var(--neucha);
  font-size: 6em;
  color: white;
  font-weight: 400;
  text-align: right;
}
main .nature .underTitle {
  text-align: center;
  margin: 3% 0;
  color: var(--bleu-fonce);
  font-weight: bold;
  font-size: 1.5em;
}
main .nature .line {
  width: 20%;
  height: 0.2em;
  background-color: var(--bleu-fonce);
  margin: 0 auto;
  margin-bottom: 5%;
}
main .nature .actcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(1em 1em 1.5em rgba(0, 0, 0, 0.5));
  padding-bottom: 5%;
}
main .nature .actcontainer .acttxtimg {
  width: 60%;
  display: flex;
}
main .nature .actcontainer .acttxtimg .acttxt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bleu-fonce);
  text-align: center;
  padding: 0 5%;
  color: white;
}
main .nature .actcontainer .acttxtimg .acttxt h2 {
  font-weight: 400;
  margin-bottom: 4%;
  text-transform: uppercase;
  font-size: 2em;
}
main .nature .actcontainer .acttxtimg .acttxt .line {
  width: 8em;
  height: 0.1em;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 4%;
}
main .nature .actcontainer .acttxtimg .acttxt p {
  font-size: 1.5em;
  margin-bottom: 10%;
}
main .nature .actcontainer .acttxtimg .acttxt a {
  background-color: var(--bleu-clair);
  color: var(--bleu-fonce);
  text-align: center;
  border-radius: 3vh;
  font-weight: bold;
  padding: 2% 0;
  transition: 0.5s all;
  font-size: 1.4em;
  width: 75%;
  margin: 0 auto;
}
main .nature .actcontainer .acttxtimg .acttxt a:hover {
  transform: scale(1.2);
}
main .nature .actcontainer .acttxtimg .actimg {
  width: 50%;
  position: relative;
}
main .nature .actcontainer .acttxtimg .actimg img {
  width: 100%;
}
main .nature .actcontainer .reverse {
  flex-direction: row-reverse;
}

footer {
  width: 100%;
  background-color: var(--bleu);
  font-family: var(--neucha);
}
footer a {
  transition: 0.5s all;
}
footer a:hover {
  transform: scale(1.2);
}
footer .flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding-bottom: 2%;
}
footer .flex .container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 4%;
}
footer .flex .container img {
  width: 50%;
  padding: 8% 0;
}
footer .flex .container .coordonnees {
  display: flex;
  padding: 0 5% 5% 5%;
  margin-right: 2%;
}
footer .flex .container .coordonnees i {
  text-align: center;
  color: white;
  margin-right: 5.5%;
}
footer .flex .container ul {
  font-size: 0;
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .flex .container ul li {
  padding-bottom: 4%;
}
footer .flex .container ul li a {
  color: white;
  font-size: 25px;
}
footer .flex i {
  text-align: center;
}
footer .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .center p {
  padding: 2%;
}
footer .center .logo {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
footer .center .logo i {
  padding: 15%;
}
footer .mentions {
  width: 100%;
  background-color: var(--bleu-fonce);
  text-align: center;
  padding: 2%;
}
footer .mentions .mentionsdroits {
  display: flex;
  justify-content: center;
}

/* ANIMATION JS */
.revealleft {
  opacity: 0;
  transform: translateX(-20em);
}

.revealright {
  opacity: 0;
  transform: translateX(20em);
}

.revealvisible {
  opacity: 1;
  transform: translateX(0);
  transition: 1s;
}

@media screen and (max-width: 1440px) {
  main .presentation {
    padding-top: 5%;
  }
  main .presentation .acttxt p {
    font-size: 1.5em;
  }
  main .attractions .flexContainer .container {
    font-size: 1em;
  }
  main .nature .actcontainer .acttxtimg .acttxt p {
    font-size: 1.2em;
  }
  main .nature .actcontainer .acttxtimg .acttxt a {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1200px) {
  header .navBar nav ul li a {
    font-size: 1.3em;
  }
  header .navBar .monCompte a {
    font-size: 1.3em;
  }
  main .presentation .acttxt p {
    font-size: 1.2em;
  }
  main .attractions .flexContainer .container {
    font-size: 0.8em;
  }
  main .nature .actcontainer .acttxtimg .acttxt h2 {
    font-size: 1.2em;
  }
  main .nature .actcontainer .acttxtimg .acttxt p {
    font-size: 1em;
  }
  main .nature .actcontainer .acttxtimg .acttxt a {
    font-size: 1em;
  }
}
@media screen and (max-width: 1024px) {
  header .navBar nav ul li a {
    font-size: 1.2em;
  }
  header .navBar nav ul li a:hover {
    transform: scale(1.2);
  }
  header .navBar .monCompte {
    width: 15%;
    margin: 1% 0;
  }
  header .navBar .monCompte a {
    font-size: 1em;
  }
  .bannerTitle h1 {
    font-size: 6em;
  }
  .bannerTitle h2 {
    font-size: 3em;
  }
  main .presentation {
    width: 80%;
  }
  main .presentation .acttxt h2 {
    padding-top: 6%;
    font-size: 2em;
    margin-bottom: 1em;
  }
  main .attractions .underTitle {
    padding: 1% 3%;
  }
  main .attractions .flexContainer img {
    width: 40%;
  }
  main .attractions .flexContainer .container {
    width: 40%;
  }
  main .nature .actcontainer .acttxtimg {
    width: 75%;
  }
  footer {
    font-size: 0.7em;
  }
  footer .flex .container img {
    margin-left: 20px;
  }
  footer .flex .container ul li a {
    font-size: 15px;
  }
  footer .flex .container .logo a {
    margin: 0 15%;
  }
  footer .flex .center p {
    padding: 7% 15%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #popupsignup {
    width: 90%;
  }
  header {
    width: 100%;
    padding: 1em;
    background-color: var(--bleu-clair);
    display: flex;
    align-items: center;
  }
  header .milieu {
    display: inline-flex;
  }
  header .milieu .logIn {
    align-self: center;
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 50%;
    background-color: var(--bleu-fonce);
    color: white;
  }
  header .milieu .monCompte2 .btnCompte2 #box2 {
    background-color: #3A8043;
    border-radius: 1em;
    padding: 0.5em;
  }
  header .milieu .monCompte2 .btnCompte2 ul {
    background-color: var(--bleu-fonce);
  }
  header .cart {
    margin-left: 2%;
    display: block;
  }
  header .cart a {
    width: 2.05em;
    height: 2.05em;
    border-radius: 50%;
    background-color: var(--bleu-fonce);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navBar {
    display: none;
  }
  header #toggle {
    position: fixed;
    display: block;
    width: 30px;
    height: 2px;
    top: 50px;
    right: 50px;
    cursor: pointer;
    background-color: #204725;
    transition: all 0.3s ease-in-out;
    z-index: 8;
  }
  header #toggle:before, header #toggle:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #204725;
    transition: all 0.3s ease-in-out;
  }
  header #toggle:before {
    top: -10px;
  }
  header #toggle:after {
    top: 10px;
  }
  header #toggle.active {
    background-color: transparent;
  }
  header #toggle.active:before {
    transform: rotate(45deg);
    top: 0;
  }
  header #toggle.active:after {
    transform: rotate(-45deg);
    top: 0;
  }
  header #navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 6;
  }
  header #navigation.active {
    top: 0;
    right: 0;
  }
  header #navigation.active .logo {
    display: none;
  }
  header #navigation.active ul {
    display: flex;
    flex-direction: column;
  }
  header #navigation.active ul li {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  header #navigation.active ul li .sous {
    display: none;
  }
  header #navigation.active ul li a {
    color: var(--bleu-fonce);
    font-size: 25px;
    text-align: center;
    font-family: var(--neucha);
    margin-bottom: 5%;
  }
  main .bannerTitle h1 {
    font-size: 2.5em;
  }
  main .bannerTitle h2 {
    font-size: 2em;
  }
  main .presentation {
    width: 95%;
  }
  main .presentation .acttxt h2 {
    padding-top: 2%;
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
  main .presentation .acttxt p {
    font-size: 18px;
  }
  main .banner h1 {
    font-size: 2.5em;
  }
  main .attractions .flexContainer {
    filter: none;
  }
  main .attractions .flexContainer .container p {
    font-size: 1em;
  }
  main .attractions .underTitle {
    font-size: 1.2em;
  }
  main .banner2 h1 {
    font-size: 3em;
  }
  main .nature .underTitle {
    font-size: 1.3em;
    padding: 0 2%;
  }
  main .nature .actcontainer {
    filter: none;
  }
  main .nature .actcontainer .acttxtimg {
    width: 85%;
  }
  footer {
    font-size: 0.7em;
  }
  footer .flex .footcontact img {
    width: 80%;
  }
  footer .center p {
    padding: 7% 15%;
    text-align: center;
  }
  footer .container ul li {
    display: none;
  }
  footer .center {
    font-size: 1em;
    width: 100%;
  }
  footer .center p {
    padding: 2% 0;
  }
  footer .flex {
    padding: 5% 10% 5% 10%;
  }
  footer .footnav {
    width: 0%;
  }
  footer .footcontact {
    width: 70%;
  }
  footer .footcontact .coordonnees {
    width: 100%;
  }
  footer .flex .center p {
    display: none;
  }
  footer .flex .center .logo {
    margin-right: 100%;
  }
  footer .flex .center .logo:nth-last-child(1) {
    display: none;
  }
  footer .flex .center .logo a {
    font-size: 2em;
    padding: 20%;
  }
}
@media screen and (max-width: 480px) {
  #popup {
    width: 70%;
  }
  #popupsignup {
    font-size: 1.5em;
  }
  .signup form .login .containersignup {
    flex-direction: column;
  }
  .signup form .login .containersignup .leftsignup {
    width: 100%;
    margin-bottom: 4%;
  }
  .signup form .login .containersignup .rightsignup {
    width: 100%;
  }
  .signup form .login .containersignup .line {
    display: none;
  }
  .bannerTitle h1 {
    font-size: 4em;
  }
  .bannerTitle h2 {
    font-size: 2em;
  }
  main .presentation {
    width: 95%;
  }
  main .presentation .actimg {
    display: none;
  }
  main .presentation .actimg img {
    display: none;
  }
  main .presentation .acttxt {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  main .presentation .acttxt h2 {
    padding-top: 2%;
    font-size: 0.9em;
    margin-bottom: 1em;
    width: 100%;
  }
  main .presentation .acttxt p {
    font-size: 0.8em;
  }
  main .banner h1 {
    font-size: 2em;
  }
  main .attractions .underTitle {
    font-size: 1em;
  }
  main .attractions .flexContainer {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  main .attractions .flexContainer img {
    width: 100%;
  }
  main .attractions .flexContainer .container {
    width: 100%;
  }
  main .attractions .flexContainer .container img {
    width: 95%;
  }
  main .attractions .reverse {
    flex-wrap: wrap-reverse;
  }
  main .banner2 h1 {
    font-size: 2em;
  }
  main .nature .underTitle {
    font-size: 1em;
    padding: 0 2%;
  }
  main .nature .actcontainer {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  main .nature .actcontainer .acttxtimg {
    width: 100%;
    flex-wrap: wrap;
  }
  main .nature .actcontainer .acttxtimg .acttxt {
    width: 100%;
    padding: 2% 0% 3% 0%;
  }
  main .nature .actcontainer .acttxtimg .acttxt h2 {
    font-size: 1em;
    margin-top: 3%;
  }
  main .nature .actcontainer .acttxtimg .acttxt p {
    font-size: 0.8em;
    padding: 0;
    margin: 1%;
    padding-bottom: 5%;
  }
  main .nature .actcontainer .acttxtimg .acttxt a {
    font-size: 1em;
  }
  main .nature .actcontainer .acttxtimg .actimg {
    width: 100%;
  }
}
@media screen and (max-width: 424px) {
  main .presentation .acttxt {
    margin: 0;
  }
  main .presentation .acttxt h2 {
    padding: 1%;
  }
  main .presentation .acttxt p {
    padding: 0;
  }
  main .attractions .underTitle {
    font-size: 0.9em;
  }
  main .attractions .flexContainer .container a {
    font-size: 1.2em;
    margin-top: 2%;
  }
  main .nature .underTitle {
    font-size: 0.9em;
  }
  main .nature .actcontainer {
    flex-wrap: wrap;
  }
  main .nature .actcontainer .acttxtimg .actimg {
    width: 100%;
  }
  main .nature .actcontainer .acttxtimg .acttxt {
    width: 100%;
  }
  main .nature .actcontainer .acttxtimg .acttxt a {
    margin: 5% auto;
  }
  footer .flex {
    padding: 2%;
  }
}
@media screen and (max-width: 320px) {
  .revealleft {
    opacity: 1;
    transform: translateX(0);
  }
  .revealright {
    opacity: 1;
    transform: translateX(0);
  }
  .revealvisible {
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
  }
  .bannerTitle h1 {
    font-size: 3em;
  }
  .bannerTitle h2 {
    font-size: 1.5em;
  }
  main .attractions .underTitle {
    font-size: 0.78m;
  }
  footer .logo i {
    font-size: 0.7em;
  }
}/*# sourceMappingURL=styles.css.map */